# Python
backend (Python)/__pycache__/
backend (Python)/*.pyc
backend (Python)/.idea/

# Node / Angular
Matrix Frontend/node_modules/
Matrix Frontend/dist/
Matrix Frontend/.angular/
Matrix Frontend/.vscode/

# OS crap
.DS_Store
Thumbs.db
